<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DataTable.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<log4net>
		<appender name="RootFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="DataTable.Net.log"/>
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Size"/>
			<param name="MaxSizeRollBackups" value="10"/>
			<param name="MaximumFileSize" value="1024KB"/>
			<param name="StaticLogFileName" value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<header value="# ************************* Logging Started *************************&#xD;&#xA;"/>
				<footer value="# ************************* Logging Finished ************************&#xD;&#xA;&#xD;&#xA;"/>
				<param name="ConversionPattern" value="[%date] [%thread]  %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RootFileAppender"/>
		</root>
	</log4net>
	
	<userSettings>
		<DataTable.Net.Properties.Settings>
   <setting name="MaxAbsoluteScalePower" serializeAs="String">
    <value>31</value>
   </setting>
   <setting name="ExportValuesSeparator" serializeAs="String">
    <value>;</value>
   </setting>
   <setting name="RecentFilesCount" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>Russian</value>
   </setting>
  </DataTable.Net.Properties.Settings>
	</userSettings>
</configuration>